---
layout: page
title: Blog
---

I enjoy writing but I don't have time to really work on the craft. So instead of blogging, I call this rambling but love the chance to share it with you regardless. Please check out some of these articles and ping me to let me know what you think. 

<section class="recent-posts row">

    <div class="col-sm-12">

        <div class="section-title">
            <h2><span>Ramblings on tech and life</span></h2>    
        </div>

        <div class="masonrygrid row">

            {% for post in site.posts %} 

            {% include postbox.html %} 

            {% endfor %}
            {% if paginator.previous_page %} 
            {% if paginator.previous_page > 0 %}
            {% endif %}
            {% endif %}

        </div> 

<!-- KIWI Turn off Pagination 
        <div class="bottompagination">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div>
-->

    </div>

</section>
