---
layout: default
overtitle: Screenplay
title: Screenplay
description: Product design with stories in mind.
featured_image: /images/social.jpg
---
	<header class="post__header header--single">

		<img src="/images/header-apple.jpg" class="post__featured-image">

	</header>

<div class="page-home">

	{% if site.data.settings.hero_settings.background_image %}
	<img src="{{ site.data.settings.hero_settings.background_image }}" class="hero__background" draggable="false">
	{% endif %}

	{% include section__about.html %}

<!--
	<section class="hero">
		<div class="wrap grid">
			<div class="title">
				<p class="subtitle">{{ page.overtitle }}</p>
				<h1>{{ page.title }}</h1>
			</div>

			<p class="intro subtitle--light">
				{{ page.description }}
				<a href="#" class="hero__cta button--fill contact-trigger js-contact">Say Hello</a>
			</p>
		</div>
	</section>
-->

<section>
	<div class="wrap">
		<p>Most of my work has been for the enterprise web, which I have done with some of the biggest names in the valley.</p>
		<img class="spacer1" src="images/section-logos.png">
	</div>
</section>

<section class="listing">
		<div class="wrap">
			<p>So what's with this movie theme? In my opinion, movies provide the best experience for a good story as it takes most of your senses and provides a full narrative in a concise package. Why not take that as proper inspiration to share my stories with you. If you don't care about the story and just want the spoilers, <a href="work.html">check this page out here.</a></p>

			<div class="gallery project__images owl-carousel" data-columns="1"><a href="/project/walmart.html"><img src="/images/story-poster-walmart.png"></a><a href="/project/vudu.html"><img src="/images/story-poster-vudu.png"></a><a href="/project/paypal.html"><img src="/images/story-poster-paypal.png"></a><a href="/project/facebook.html"><img src="/images/story-poster-facebook.png"></a><a href="/project/fireeye.html"><img src="/images/story-poster-fireeye.png"></a><a href="/project/apple.html"><img src="/images/story-poster-apple.png"></a></div>
		</div>
	</section>

	<section class="recent-posts">
		<div class="wrap grid">
			<header class="recent-posts__header">
				<h4>Recent blog posts</h4>
				<a href="/blog" class="action button--text--accent --right">All Posts</a>
			</header>

			<div class="recent-posts__list grid">
				{% for post in site.posts limit: 3 %}
				{% include component__post-preview.html %}
				{% endfor %}
			</div>

			<a href="/blog" class="action-bottom button--text--accent --right">All Posts</a>
		</div>
	</section>
</div>