---
layout: default
overtitle: Product design with stories in mind
title: Screenplay
featured_image: /images/social.jpg
---

<section class="page-home">

	{% if site.data.settings.hero_settings.background_image %}
	<img src="{{ site.data.settings.hero_settings.background_image | relative_url }}" class="hero__background" draggable="false">
	{% endif %}

	<section class="hero">
			<img src="images/home-hero.png" />
	</section>

	<section class="about">

		<div class="wrap grid home-aboutme">
	  
		  <div class="about__image">
			<img src="{{ '/images/about-me.png' | relative_url }}" alt="">
		  </div>
	  
		  <div class="about__content">
			<p>
			  Welcome my friend! My name is Parveen and I'm a design leader working in the SF Bay Area who begins every project with an open mind and fierce curiosity about people and process.
			</p>
			<p>
			  And yet, my first love growing up was creative storytelling, when I used to spend time writing novels, short stories, and screenplays. If you asked me what my dream job was when I was in high school, it would have been to write and direct motion pictures as I believed it was the most engaging story format of all time. 
			</p>
			<p>	
			  These days, I bring this background to every project I work on as I build products that engage with it's users and stakeholders. This website may focus on my recent design work but it also inspired by my prior inspirations, a fusion of my past and present that makes me whole.
			</p>
		  </div>

		</div>
	  </section>

	<section class="full-width-grey">
		<h6 class="text-center">Here is a smattering of companies I have helped:</h6>
		<img class="spacer1" src="images/section-logos.png">
	</section>

	<section class="wrap home-stories">
		<h3><a id="stories">Stories</a></h3>

		<p>Movies have inspired me a ton and I want to inspire my users in similar ways. Obviously, thats a high bar to pass but its always good to have ambition, dont you think? <a href="work.html">Here are some of the case studies playing in my portfolio for you to read in more detail displayed below using movies as a motif.</a> I have other screens there as well so please visit and lend me your thoughts.</p>

		<div class="gallery" data-columns="1">
			<img src="images/poster-anomalie.png">
			<img src="images/poster-walmart.png">
			<img src="images/poster-vudu.png">
			<img src="images/poster-paypal.png">
			<img src="images/poster-fireeye.png">
		</div>

	</section>

	<section class="recent-posts">
		<div class="wrap grid">
			<header class="recent-posts__header">
				<h4>Recent blog posts</h4>
				<a href="{{ '/blog' | relative_url }}" class="action button--text--accent --right">All Posts</a>
			</header>

			<div class="recent-posts__list grid">
				{% for post in site.posts limit: 3 %}
				{% include component__post-preview.html %}
				{% endfor %}
			</div>

			<a href="{{ '/blog' | relative_url }}" class="action-bottom button--text--accent --right">All Posts</a>
		</div>
	</section>
</div>




