---
layout: page
title: Portfolio
comments: false
---

<section>

<div class="row">
        A sampling of my work is below. I have links to my detailed stories and for work not part of a story, just scroll down further. Need more samples, please don't hesitate to reach out.
</div>

{% include carousel-portfolio.html %}

<hr />

    <div class="row">
        <div class="col align-self-center">
            <h3>Facebook</h3>
            <p>I worked with the SMB team to help them manage their business customers better by offering them marketing campaigns to grow their business.</p>
        </div>
        <div class="col">
            <img src="{{site.baseurl}}/assets/images/work-facebook.png">            
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <img src="{{site.baseurl}}/assets/images/work-symantec.png">            
        </div>
        <div class="col align-self-center">
            <h3>Symantec</h3>
            <p>As part of the Trust Organization team, I streamlined offerings to Symantec online customers looking to manage their certificates.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col align-self-center">
            <h3>SAP</h3>
            <p>I was a part of the overall design relaunch of the new SAP Fiori platform. I designed tablet experiences that would be used as templates for customers in various industries.</p>
        </div>
        <div class="col">
            <img src="{{site.baseurl}}/assets/images/work-sap.png">            
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
                <img src="{{site.baseurl}}/assets/images/work-paypros.png">            
        </div>
        <div class="col align-self-center">
            <h3>PayPros</h3>
            <p>I built a brand new B2B application tool that helped PayPros build out their online product in greater numbers.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col align-self-center">
            <h3>Lifograph</h3>
            <p>I worked with the founder on the redesign of a brand new social media application targeting the Silicon Valley community.</p>
        </div>
        <div class="col">
            <img src="{{site.baseurl}}/assets/images/work-lifograph.png">            
        </div>
    </div>
</section>


<section>

    <div class="row">
            Here are more screens from my stories in case you wanted to see more. If you want to view work not a part of stories, return back to the Portfolio page.
    </div>
    
        <hr id="apple" />
    
        <div class="row">
            <h3>Apple</h3>
            {% include carousel-apple.html %}
        </div>
    
        <hr id="paypal" />
    
        <div class="row">
            <h3>PayPal</h3>
            {% include carousel-paypal.html %}
        </div>
    
        <hr id="fireeye" />
    
        <div class="row">
            <h3>FireEye</h3>
            {% include carousel-fireeye.html %}
        </div>
    
        <hr id="rune" />
    
        <div class="row">
            <h3>Rune</h3>
            {% include carousel-rune.html %}
        </div>
    
        <hr id="walmart" />
    
        <div class="row">
            <h3>Walmart.com</h3>
            {% include carousel-walmart.html %}
        </div>
    
        <hr id="vudu" />
    
        <div class="row">
            <h3>Vudu</h3>
            {% include carousel-vudu.html %}
        </div>
    
    </section>