<!--Sourced from here: https://mdbootstrap.com/javascript/carousel/ -->

<div class="container sp-carousel">
<div class="row">
        <div class="col-1"><span class="left sp-carousel-arrow"><img class="sp-carousel-arrow" src="{{ site.baseurl }}/assets/images/arrow-left-v2.svg"></span></div>
        <div class="col-10">
                <div class="responsive">
                        <div><img src="{{ site.baseurl }}/assets/images/portfolio-apple-cover.png"></div>
                        <div><img src="{{ site.baseurl }}/assets/images/portfolio-fireeye-cover.png"></div>
                        <div><img src="{{ site.baseurl }}/assets/images/portfolio-paypal-cover.png"></div>
                        <div><img src="{{ site.baseurl }}/assets/images/portfolio-rune-cover.png"></div>
                        <div><img src="{{ site.baseurl }}/assets/images/portfolio-walmart-cover.png"></div>
                        <div><img src="{{ site.baseurl }}/assets/images/portfolio-vudu-cover.png"></div>
                </div>
        </div>
        <div class="col-1"><span class="right sp-carousel-arrow"><img class="sp-carousel-arrow" src="{{ site.baseurl }}/assets/images/arrow-right-v2.svg"></span></div>
    </div>
</div>
<!--/.Carousel Wrapper-->