<!--Sourced from here: https://mdbootstrap.com/javascript/carousel/ -->


<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" data-interval="false">

  <!--Controls-->
  <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators
  <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">

          <div class="col-md-4">
              <div class="card mb-2">
                  <img class="card-img-top" src="{{ site.baseurl }}/assets/images/portfolio-walmart-cover.png" alt="Card image cap">
              </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                  <img class="card-img-top" src="{{ site.baseurl }}/assets/images/portfolio-rune-cover.png" alt="Card image cap">
              </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                  <img class="card-img-top" src="{{ site.baseurl }}/assets/images/portfolio-fireeye-cover.png" alt="Card image cap">
              </div>
          </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

          <div class="col-md-4">
              <div class="card mb-2">
                  <img class="card-img-top" src="{{ site.baseurl }}/assets/images/portfolio-paypal-cover.png" alt="Card image cap">
              </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                  <img class="card-img-top" src="{{ site.baseurl }}/assets/images/portfolio-vudu-cover.png" alt="Card image cap">
              </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                  <img class="card-img-top" src="{{ site.baseurl }}/assets/images/portfolio-apple-cover.png" alt="Card image cap">
              </div>
          </div>

      </div>
      <!--/.Second slide-->

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->