<hr>
<h3><a id="contact">Contact</a></h3>
<a href="mailto:parveen@screenplay.design">
	<div class="contact-form">

			<img src="/images/icon-paper-airplane.svg">
			<p>There is even more I could share so feel free to reach out and discuss. You can email me here or also direct message me in social media at the links in the footer. Please reach out either way, I love to get to know</p>
		
				<!--
					<ul class="socials">
						<li class="socials__item">
							<a href="mailto:parveen@screenplay.design" class="socials__item__link" >
								<img src="../images/persona-anomalie-1.png">
							</a>
						</li>
						<li class="socials__item">
							<a href="mailto:parveen@screenplay.design" class="socials__item__link" >
								<img src="../images/persona-anomalie-1.png">
							</a>
						</li>
						<li class="socials__item">
							<a href="mailto:parveen@screenplay.design" class="socials__item__link" >
								<img src="../images/persona-anomalie-1.png">
							</a>
						</li>
					</ul>


					<form method="post" action="{{ site.data.settings.contact_settings.form_action }}" id="contact-form">

						<div class="container">
							<div class="row">

						<div class="contact-form__item">
							<label class="contact-form__label">Email Address *</label>
							<input type="text" name="email" placeholder="Your email address..." class="contact-form__input">
						</div>

						<div class="contact-form__item">
							<label class="contact-form__label">Name *</label>
							<input type="text" name="name" placeholder="Your name..." class="contact-form__input">
						</div>

						</div></div>
						<div class="contact-form__item">
							<label class="contact-form__label">Message *</label>
							<textarea name="message" placeholder="Your message..." class="contact-form__textarea"></textarea>
						</div>

						<input type="hidden" name="_next" value="{{ site.data.settings.contact_settings.confirmation_url }}" />
						<input type="hidden" name="_subject" value="{{ site.data.settings.contact_settings.email_subject }}" />
						<input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="">

						<div class="contact-form__item">
							<input type="submit" value="{{ site.data.settings.contact_settings.send_button_text }}" class="button button--large">
						</div>

					</form>
				-->
	</div>
</a>