
<img src="/images/home-banner.png" alt="">

<section class="about">

    {% if include.divider == true %}
      <div class="wrap"><hr/></div>
      {% endif %}
    <div class="wrap grid">
  
      <div class="split__section">
          <p>My skills include product design, interactive design, aesthetic art direction, prototyping, mobile design,
              branding, front-end development and team leadership. I’m interested in clean aesthetics, minimalism, unusual
              typography, photography and simplistic UX solutions.</p>
      </div>
  
      <div class="split__section">
  
        <p>My skills include product design, interactive design, aesthetic art direction, prototyping, mobile design,
          branding, front-end development and team leadership. I’m interested in clean aesthetics, minimalism, unusual
          typography, photography and simplistic UX solutions.</p>

      </div>
    </div>
  </section>


