<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="/images/home-parveen.png" alt="">

    </div>

    <div class="about__content">
      <h2 class="title">Hello friend!</h2>

      <!--<p class="subtitle subtitle--light">KIWI</p>-->
      
      <p>My name is Parveen and as a child, I dreamt of creating stories that would connect my vision to other people. Now as an adult, I am a product design leader who builds enterprise experiences that connects people to each other. </p>

      {% include component-socials.html %}
    </div>
  </div>
</section>