<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid__2-col">

    <div class="about__image">
      <img src="{{ '/images/about-me.png' | relative_url }}" alt="">
    </div>

    <div class="about__content">
      <p>
        Hello friend! Reach out to talk to me about as I would love to chat with you so we can work together or just meld ideas on great stories.
      </p>

      {% include component-socials.html %}

      <div>
        <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
      </div>

    </div>
  </div>

</section>