// - - - - - - - - - - - - - - - - - -

// Page - Blog

// - - - - - - - - - - - - - - - - - -


.header--single {
	padding: 40px 0 48px;

	.header__title {
		margin-bottom: 16px;
	}

	.header__subtitle {
		max-width: 556px;
	}

	@include mq(tabletp) {
		padding: 56px 0 120px;
	}
}

//KIWI
.work__divider {
	background-color: rgba($color: #eeeeee, $alpha: 1.0);
	padding: 40px 0px 40px 0px;
	margin: 0px !important;
  }

.work__hr {
	margin: 0px !important;
	padding: 0px !important;
}