// - - - - - - - - - - - - - - - - - -

// Section - Hero

// - - - - - - - - - - - - - - - - - -


.hero {
	position: relative;
	padding: 40px 0 160px;
	background: #ff8008;
    background: -webkit-linear-gradient(to bottom,#ffc83790,#ff800890);
	background: linear-gradient(to bottom,#ffc83790,#ff800890);
	margin: 0px 0px -120px 0px;

	.wrap {
		grid-gap: 0;
	}

	.title {
		margin-bottom: 24px;
		max-width: 380px;
	}

	.title .subtitle {
		margin-bottom: 8px;
	}

	.intro {
		position: relative;
		max-width: 340px;
	}

	.hero__cta {
		position: absolute;
		left: 0;
		bottom: -70px;
	}

	@include mq(tabletp) {
		padding: 40px 0 180px;

		.wrap {
			grid-template-columns: 1fr 1fr;
		}

		.title {
			margin-bottom: 0;
			max-width: none;
		}

		.intro {
			align-self: end;
			margin-bottom: -80px;
			max-width: 458px;
		}

		.hero__cta {
			display: none;
		}
	}
}

.hero__background {
	display: block;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	max-width: 190%;
	display: none;

	@include mq(tabletp) {
		display: block;
	}
}

.hero-stories {
	width: 100%;
	background-color: #eeeeee;
}

.home-companies {
	//max-width: 100%;
	text-align: center;
	padding: 40px 20px 20px 20px;
	margin: 0px 0px 40px 0px;
}

.home-companies img {
	display: block;
	margin: 20px auto 0px auto;
	width: 75%;
}

.hero img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}