// - - - - - - - - - - - - - - - - - -

// Section - About

// - - - - - - - - - - - - - - - - - -

.about {
  margin-bottom: 80px;
  color: #FFFFFF;
  background-color: #000000;
  padding: 60px;
  margin-bottom: 0px;

  hr {
    margin-bottom: 80px;
  }

  .about__image {
    width: 100%;
    //--max-width: 420px;--// KIWI take out forcing this to let image flow out
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: 24px;
    }
  }

  .title {
    margin-bottom: 16px;
  }

  .about__content {
    max-width: 600px;

    padding: 20px;
    margin: 0 auto;
    width: 100%;

    .title {
      margin-bottom: 16px;
      color: #FFFFFF;
    }

.grid__split {
  display: grid;
  grid-template-columns: auto auto;
}

.split__section {
    max-width: 600px;
    color: #FFFFFF !important;
    background-color: #000000 !important;
    padding: 20px;
    margin: 0 auto;
}

    .subtitle {
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 16px;
    }

    .cta {
      margin: 8px 0 0 -4px;
    }
	}
	

  @include mq(tabletp) {
  
    // margin-bottom: 80px; KIWI taking this out to rely on padding
    
    hr {
      margin-bottom: 120px;
    }
		
    .wrap {
      grid-template-columns: auto auto;
    }

    .about__image {
      width: 100%;
      margin-left: 0;
		}
		
		.about__content {

			.subtitle {
				margin-bottom: 24px;
			}
		}
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Social Icons

.socials {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials__item {
  margin-left: 24px;

  &:first-child {
    margin-left: 0;
  }
}

.socials__item__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: $text-dark-color;
  font-size: 16px;
  color: $background-color;

  &:hover {
    background: $accent-color;
    color: $background-color;
  }

  &:active {
    transform: scale(0.92);
  }
}
