---
layout: default
---

{% if page.accent_color %}{% capture accent_color %}{{ page.accent_color }}{% endcapture %}{% endif %}

<div class="wrap grid__split">

		<div class="split__section">
				<a href="{{ page.link_previous }}"><img class="split__section__arrow" src="/images/arrow-left.svg"></a>
		</div>

		<div>
			<img src="{{ page.poster }}" class="project__poster">
			<table class="post-navigation">
					<tr>
					<td><i class="fab fa-readme"></i> &nbsp;Read the story below</td>
					<td><i class="fas fa-angle-double-down"></i> &nbsp;<a href="#spoilers" target="_self">Jump to spoilers</a> </td>
					</tr>
			</table>
		</div>

		<div class="split__section">
				<a href="{{ page.link_next }}"><img class="split__section__arrow" src="/images/arrow-right.svg"></a>
		</div>
		<div></div>
</div>

<div class="page-project" style="--accent: {{ accent_color }}">

	<header class="post__header header--single">

		<img src="{{ page.featured_image }}" class="post__featured-image">

	</header>


	<section class="post-full">

		<div class="wrap">

			<article class="post__content {% if page.highlight_first %}highlight-first{% endif %}">
				{{ page.content }}
			</article>
			
		</div>

	</section>

	{% include section__about.html divider=true %}
</div>